.comments{
    padding-bottom: 90px;
    &__wrapper{
        margin-top: 70px;
        
    }
    &-item{
        display: flex;
        margin-top: 100px;
        &:first-of-type{
            margin-top: 0;
        }
        &__img{
            min-width: 169px;
            min-height: 169px;
            overflow: hidden;
        }
        &__text{
            margin-left: 58px;
            padding: 0 8px;
        }
        &__header{
            color: #0d0d0d;
            font-family: "Museo Sans Cyrl 700";
            font-size: 18px;
            font-weight: 700;
        }
        &__subheader{
            margin-top: 10px;
            color: #646464;
            font-family: "Museo Sans Cyrl 300";
            font-size: 14px;
            font-weight: 300;
        }
        &__descr{
            margin-top: 20px;
            color: #0d0d0d;
            font-family: "Museo Sans Cyrl 500";
            font-size: 16px;
            font-weight: 500;
        }
    }
}